[Unit]
Description=Run TcpCanStream listener Service
After=multi-user.target socketcanmanager.service
Requires=socketcanmanager.service

[Service]
ExecStart=/home/YOURUSERNAME/TcpCanStream.sh
WorkingDirectory=/home/YOURUSERNAME/
Restart=always

[Install]
WantedBy=multi-user.target